In [173]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [174]:
df = pd.read_excel('main.xlsx')

In [175]:
df

,Unnamed: 0,country,area,sex,age_group,period_name,period_date,value
0,49,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Моложе трудоспособного населения,2017 год,31.12.2017,44574
1,50,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Женский,Моложе трудоспособного населения,2017 год,31.12.2017,41789
2,52,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Мужской,Моложе трудоспособного населения,2017 год,31.12.2017,48108
3,53,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Моложе трудоспособного населения,2017 год,31.12.2017,45967
4,58,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Трудоспособное население,2017 год,31.12.2017,105816
...,...,...,...,...,...,...,...,...
4507,190130,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Трудоспособное население,2006 год,31.12.2006,171296
4508,190135,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Старше трудоспособного населения,2006 год,31.12.2006,35519
4509,190136,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,городская местность,Женский,Старше трудоспособного населения,2006 год,31.12.2006,86327
4510,190138,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,сельская местность,Мужской,Старше трудоспособного населения,2006 год,31.12.2006,24122
4511,190139,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Старше трудоспособного населения,2006 год,31.12.2006,46632

In [176]:
df = df.drop(columns=[col for col in df.columns if 'terms' in col or 'Unnamed' in col], errors='ignore')

In [177]:
df['period_date'] = pd.to_datetime(df['period_date'], errors ='coerce')

C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\1260907762.py:1: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['period_date'] = pd.to_datetime(df['period_date'], errors ='coerce')

In [178]:
df.columns = df.columns.str.lower()

In [179]:
df = df.drop_duplicates()

In [180]:
df.isnull().sum()

country        0
area           0
sex            0
age_group      0
period_name    0
period_date    0
value          0
dtype: int64

In [155]:
df.dropna()

,country,area,sex,age_group,period_name,period_date,value
0,РЕСПУБЛИКА КАЗАХСТАН,Всего,Всего,Все группы,2017 год,2017-12-31,17918214
1,РЕСПУБЛИКА КАЗАХСТАН,Всего,Мужской,Все группы,2017 год,2017-12-31,8668478
2,РЕСПУБЛИКА КАЗАХСТАН,Всего,Женский,Все группы,2017 год,2017-12-31,9249736
3,РЕСПУБЛИКА КАЗАХСТАН,городская местность,Всего,Все группы,2017 год,2017-12-31,10250102
4,РЕСПУБЛИКА КАЗАХСТАН,городская местность,Мужской,Все группы,2017 год,2017-12-31,4826501
...,...,...,...,...,...,...,...
115714,НАУРЫЗБАЙСКИЙ РАЙОН,Всего,Всего,Трудоспособное население,2016 год,2016-12-31,64859
115715,НАУРЫЗБАЙСКИЙ РАЙОН,городская местность,Женский,Все группы,2016 год,2016-12-31,51727
115716,НАУРЫЗБАЙСКИЙ РАЙОН,городская местность,Мужской,Все группы,2016 год,2016-12-31,46156
115717,НАУРЫЗБАЙСКИЙ РАЙОН,Всего,Женский,Все группы,2016 год,2016-12-31,51727
115718,НАУРЫЗБАЙСКИЙ РАЙОН,Всего,Мужской,Все группы,2016 год,2016-12-31,46156

In [181]:
df

,country,area,sex,age_group,period_name,period_date,value
0,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Моложе трудоспособного населения,2017 год,2017-12-31,44574
1,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Женский,Моложе трудоспособного населения,2017 год,2017-12-31,41789
2,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Мужской,Моложе трудоспособного населения,2017 год,2017-12-31,48108
3,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Моложе трудоспособного населения,2017 год,2017-12-31,45967
4,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Трудоспособное население,2017 год,2017-12-31,105816
...,...,...,...,...,...,...,...
4507,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Трудоспособное население,2006 год,2006-12-31,171296
4508,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Старше трудоспособного населения,2006 год,2006-12-31,35519
4509,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,городская местность,Женский,Старше трудоспособного населения,2006 год,2006-12-31,86327
4510,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,сельская местность,Мужской,Старше трудоспособного населения,2006 год,2006-12-31,24122
4511,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Старше трудоспособного населения,2006 год,2006-12-31,46632

In [182]:
df.value_counts

<bound method DataFrame.value_counts of                              country                 area      sex  \
0                АКМОЛИНСКАЯ ОБЛАСТЬ  городская местность  Мужской
1                АКМОЛИНСКАЯ ОБЛАСТЬ  городская местность  Женский
2                АКМОЛИНСКАЯ ОБЛАСТЬ   сельская местность  Мужской
3                АКМОЛИНСКАЯ ОБЛАСТЬ   сельская местность  Женский
4                АКМОЛИНСКАЯ ОБЛАСТЬ  городская местность  Мужской
...                              ...                  ...      ...
4507  ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ   сельская местность  Женский
4508  ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ  городская местность  Мужской
4509  ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ  городская местность  Женский
4510  ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ   сельская местность  Мужской
4511  ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ   сельская местность  Женский

                             age_group period_name period_date   value
0     Моложе трудоспособного населения    2017 год  2017-12-31   44574
1     Моложе трудоспособного населения    2017 год  2017-12-31   41789
2     Моложе трудоспособного населения    2017 год  2017-12-31   48108
3     Моложе трудоспособного населения    2017 год  2017-12-31   45967
4             Трудоспособное население    2017 год  2017-12-31  105816
...                                ...         ...         ...     ...
4507          Трудоспособное население    2006 год  2006-12-31  171296
4508  Старше трудоспособного населения    2006 год  2006-12-31   35519
4509  Старше трудоспособного населения    2006 год  2006-12-31   86327
4510  Старше трудоспособного населения    2006 год  2006-12-31   24122
4511  Старше трудоспособного населения    2006 год  2006-12-31   46632

[4512 rows x 7 columns]>

In [183]:
df.duplicated().sum()

0

In [184]:
df.describe()

                         period_date          value
count                           4512    4512.000000
mean   2013-11-06 11:52:20.425531904   82091.810284
min              2000-12-31 00:00:00    1484.000000
25%              2006-12-31 00:00:00   28536.000000
50%              2013-12-31 00:00:00   55763.000000
75%              2020-12-31 00:00:00  105183.000000
max              2025-12-31 00:00:00  488794.000000
std                              NaN   82963.331503

In [160]:
q1 = df['value'].quantile(0.25)
q3 = df['value'].quantile(0.75)
iqr = q3-q1
df = df[(df['value'] >= q1 - 1.5 * iqr) & (df['value'] <= q3 + 1.5 * iqr)]

In [161]:
iqr

34747.0

In [162]:
df

,country,area,sex,age_group,period_name,period_date,value
47,АКМОЛИНСКАЯ ОБЛАСТЬ,Всего,Женский,Моложе трудоспособного населения,2017 год,2017-12-31,87756
48,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Всего,Моложе трудоспособного населения,2017 год,2017-12-31,86363
49,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Моложе трудоспособного населения,2017 год,2017-12-31,44574
50,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Женский,Моложе трудоспособного населения,2017 год,2017-12-31,41789
52,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Мужской,Моложе трудоспособного населения,2017 год,2017-12-31,48108
...,...,...,...,...,...,...,...
115714,НАУРЫЗБАЙСКИЙ РАЙОН,Всего,Всего,Трудоспособное население,2016 год,2016-12-31,64859
115715,НАУРЫЗБАЙСКИЙ РАЙОН,городская местность,Женский,Все группы,2016 год,2016-12-31,51727
115716,НАУРЫЗБАЙСКИЙ РАЙОН,городская местность,Мужской,Все группы,2016 год,2016-12-31,46156
115717,НАУРЫЗБАЙСКИЙ РАЙОН,Всего,Женский,Все группы,2016 год,2016-12-31,51727
115718,НАУРЫЗБАЙСКИЙ РАЙОН,Всего,Мужской,Все группы,2016 год,2016-12-31,46156

In [163]:
df['sex'] = df['sex'].astype('category')
df['age_group'] = df['age_group'].astype('category')
df['country'] = df['country'].astype('category')

C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\3886787226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex'] = df['sex'].astype('category')
C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\3886787226.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age_group'] = df['age_group'].astype('category')
C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\3886787226.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country'] = df['country'].astype('category')

In [164]:
df['year'] = df['period_date'].dt.year

C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\4100793677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['period_date'].dt.year

In [165]:
df['value'] = pd.to_numeric(df['value'], errors='coerce')

C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\2093662276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['value'] = pd.to_numeric(df['value'], errors='coerce')

In [166]:
df['sex'] = df['sex'].replace({'Всего': 'All', 'Мужской': 'Male', 'Женский': 'Female'})
df['area'] = df['area'].replace({'Всего': 'All', 'городская местность': 'Urban', 'сельская местность': 'Rural'})
df['age_group'] = df['age_group'].replace({'Все группы': 'All ages', 'Трудоспособное население': 'Working age','Моложе трудоспособного населения':'Younger working age', 'Старше трудоспособного населения':'Older working age'})

C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\2536768145.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex'] = df['sex'].replace({'Всего': 'All', 'Мужской': 'Male', 'Женский': 'Female'})
C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\2536768145.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['area'] = df['area'].replace({'Всего': 'All', 'городская местность': 'Urban', 'сельская местность': 'Rural'})
C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\2536768145.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age_group'] = df['age_group'].replace({'Все группы': 'All ages', 'Трудоспособное население': 'Working age','Моложе трудоспособного населения':'Younger working age', 'Старше трудоспособного населения':'Older working age'})

In [167]:
df

,country,area,sex,age_group,period_name,period_date,value,year
47,АКМОЛИНСКАЯ ОБЛАСТЬ,All,Female,Younger working age,2017 год,2017-12-31,87756,2017
48,АКМОЛИНСКАЯ ОБЛАСТЬ,Urban,All,Younger working age,2017 год,2017-12-31,86363,2017
49,АКМОЛИНСКАЯ ОБЛАСТЬ,Urban,Male,Younger working age,2017 год,2017-12-31,44574,2017
50,АКМОЛИНСКАЯ ОБЛАСТЬ,Urban,Female,Younger working age,2017 год,2017-12-31,41789,2017
52,АКМОЛИНСКАЯ ОБЛАСТЬ,Rural,Male,Younger working age,2017 год,2017-12-31,48108,2017
...,...,...,...,...,...,...,...,...
115714,НАУРЫЗБАЙСКИЙ РАЙОН,All,All,Working age,2016 год,2016-12-31,64859,2016
115715,НАУРЫЗБАЙСКИЙ РАЙОН,Urban,Female,All ages,2016 год,2016-12-31,51727,2016
115716,НАУРЫЗБАЙСКИЙ РАЙОН,Urban,Male,All ages,2016 год,2016-12-31,46156,2016
115717,НАУРЫЗБАЙСКИЙ РАЙОН,All,Female,All ages,2016 год,2016-12-31,51727,2016
115718,НАУРЫЗБАЙСКИЙ РАЙОН,All,Male,All ages,2016 год,2016-12-31,46156,2016

In [168]:
df['year'] = df['period_date'].dt.year

C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\4100793677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['period_date'].dt.year

In [169]:
df

,country,area,sex,age_group,period_name,period_date,value,year
47,АКМОЛИНСКАЯ ОБЛАСТЬ,All,Female,Younger working age,2017 год,2017-12-31,87756,2017
48,АКМОЛИНСКАЯ ОБЛАСТЬ,Urban,All,Younger working age,2017 год,2017-12-31,86363,2017
49,АКМОЛИНСКАЯ ОБЛАСТЬ,Urban,Male,Younger working age,2017 год,2017-12-31,44574,2017
50,АКМОЛИНСКАЯ ОБЛАСТЬ,Urban,Female,Younger working age,2017 год,2017-12-31,41789,2017
52,АКМОЛИНСКАЯ ОБЛАСТЬ,Rural,Male,Younger working age,2017 год,2017-12-31,48108,2017
...,...,...,...,...,...,...,...,...
115714,НАУРЫЗБАЙСКИЙ РАЙОН,All,All,Working age,2016 год,2016-12-31,64859,2016
115715,НАУРЫЗБАЙСКИЙ РАЙОН,Urban,Female,All ages,2016 год,2016-12-31,51727,2016
115716,НАУРЫЗБАЙСКИЙ РАЙОН,Urban,Male,All ages,2016 год,2016-12-31,46156,2016
115717,НАУРЫЗБАЙСКИЙ РАЙОН,All,Female,All ages,2016 год,2016-12-31,51727,2016
115718,НАУРЫЗБАЙСКИЙ РАЙОН,All,Male,All ages,2016 год,2016-12-31,46156,2016

In [170]:
categorical_cols = ['country', 'area', 'sex', 'age_group', 'period_name']
for col in categorical_cols:
    df[col] = df[col].astype('category')

C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\131878154.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\131878154.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
C:\Users\Asus\AppData\Local\Temp\ipykernel_20880\131878154.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')

In [171]:
df_pivot = df.pivot_table(values='value', index='year', columns='sex', aggfunc='sum')

In [185]:
df

,country,area,sex,age_group,period_name,period_date,value
0,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Моложе трудоспособного населения,2017 год,2017-12-31,44574
1,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Женский,Моложе трудоспособного населения,2017 год,2017-12-31,41789
2,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Мужской,Моложе трудоспособного населения,2017 год,2017-12-31,48108
3,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Моложе трудоспособного населения,2017 год,2017-12-31,45967
4,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Трудоспособное население,2017 год,2017-12-31,105816
...,...,...,...,...,...,...,...
4507,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Трудоспособное население,2006 год,2006-12-31,171296
4508,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Старше трудоспособного населения,2006 год,2006-12-31,35519
4509,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,городская местность,Женский,Старше трудоспособного населения,2006 год,2006-12-31,86327
4510,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,сельская местность,Мужской,Старше трудоспособного населения,2006 год,2006-12-31,24122
4511,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Старше трудоспособного населения,2006 год,2006-12-31,46632

In [122]:
df['age_group']

47        Younger working age
48        Younger working age
49        Younger working age
50        Younger working age
52        Younger working age
                 ...
115714            Working age
115715               All ages
115716               All ages
115717               All ages
115718               All ages
Name: age_group, Length: 99212, dtype: category
Categories (4, object): ['All ages', 'Younger working age', 'Older working age', 'Working age']

In [123]:
df['country'].unique()

['АКМОЛИНСКАЯ ОБЛАСТЬ', 'АКТЮБИНСКАЯ ОБЛАСТЬ', 'АЛМАТИНСКАЯ ОБЛАСТЬ', 'АТЫРАУСКАЯ ОБЛАСТЬ', 'ЗАПАДНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ', ..., 'РАЙОН ҮЛКЕН НАРЫН', 'РАЙОН ЖАҢАСЕМЕЙ', 'Г.А.АЛАТАУ', 'РАЙОН ТУРАН', 'РАЙОН МАҚАНШЫ']
Length: 245
Categories (245, object): ['АБАЙСКИЙ РАЙОН', 'АЙТЕКЕБИЙСКИЙ РАЙОН', 'АЙЫРТАУСКИЙ РАЙОН', 'АКЖАИКСКИЙ РАЙОН', ..., 'ЩЕРБАКТИНСКИЙ РАЙОН', 'ЭКИБАСТУЗ Г.А.', 'ЮЖНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ', 'ҚОНАЕВ Г.А.']

In [186]:
df.to_csv('kzpopulationт.csv')

In [187]:
df

,country,area,sex,age_group,period_name,period_date,value
0,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Моложе трудоспособного населения,2017 год,2017-12-31,44574
1,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Женский,Моложе трудоспособного населения,2017 год,2017-12-31,41789
2,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Мужской,Моложе трудоспособного населения,2017 год,2017-12-31,48108
3,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Моложе трудоспособного населения,2017 год,2017-12-31,45967
4,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Трудоспособное население,2017 год,2017-12-31,105816
...,...,...,...,...,...,...,...
4507,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Трудоспособное население,2006 год,2006-12-31,171296
4508,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Старше трудоспособного населения,2006 год,2006-12-31,35519
4509,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,городская местность,Женский,Старше трудоспособного населения,2006 год,2006-12-31,86327
4510,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,сельская местность,Мужской,Старше трудоспособного населения,2006 год,2006-12-31,24122
4511,ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Старше трудоспособного населения,2006 год,2006-12-31,46632

In [125]:
df = df.drop(columns=['period_name'])

In [126]:
df

,country,area,sex,age_group,period_date,value,year
47,АКМОЛИНСКАЯ ОБЛАСТЬ,All,Female,Younger working age,2017-12-31,87756,2017
48,АКМОЛИНСКАЯ ОБЛАСТЬ,Urban,All,Younger working age,2017-12-31,86363,2017
49,АКМОЛИНСКАЯ ОБЛАСТЬ,Urban,Male,Younger working age,2017-12-31,44574,2017
50,АКМОЛИНСКАЯ ОБЛАСТЬ,Urban,Female,Younger working age,2017-12-31,41789,2017
52,АКМОЛИНСКАЯ ОБЛАСТЬ,Rural,Male,Younger working age,2017-12-31,48108,2017
...,...,...,...,...,...,...,...
115714,НАУРЫЗБАЙСКИЙ РАЙОН,All,All,Working age,2016-12-31,64859,2016
115715,НАУРЫЗБАЙСКИЙ РАЙОН,Urban,Female,All ages,2016-12-31,51727,2016
115716,НАУРЫЗБАЙСКИЙ РАЙОН,Urban,Male,All ages,2016-12-31,46156,2016
115717,НАУРЫЗБАЙСКИЙ РАЙОН,All,Female,All ages,2016-12-31,51727,2016
115718,НАУРЫЗБАЙСКИЙ РАЙОН,All,Male,All ages,2016-12-31,46156,2016

In [128]:
df = df[df['area'].str.strip().str.upper() == 'ВСЕГО']

In [129]:
df = df[df['sex'].str.strip().str.upper() != 'ВСЕГО']

In [130]:
df = df[df['age_group'].str.strip().str.upper() != 'ВСЕГО']

In [146]:
filtered_clean_df = filtered_df[~filtered_df['country'].str.upper().str.contains('РАЙОН|Г.А.|ГОРОД')]

population_by_year_clean = filtered_clean_df.groupby('year')['value'].sum().reset_index()

import ace_tools as tools; tools.display_dataframe_to_user(name="Cleaned Population by Year", dataframe=population_by_year_clean)

ModuleNotFoundError: No module named 'ace_tools'

In [189]:
df['country'].unique()

array(['АКМОЛИНСКАЯ ОБЛАСТЬ', 'АКТЮБИНСКАЯ ОБЛАСТЬ',
       'АЛМАТИНСКАЯ ОБЛАСТЬ', 'АТЫРАУСКАЯ ОБЛАСТЬ',
       'ЗАПАДНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ', 'ЖАМБЫЛСКАЯ ОБЛАСТЬ',
       'КАРАГАНДИНСКАЯ ОБЛАСТЬ', 'КОСТАНАЙСКАЯ ОБЛАСТЬ',
       'КЫЗЫЛОРДИНСКАЯ ОБЛАСТЬ', 'МАНГИСТАУСКАЯ ОБЛАСТЬ',
       'ЮЖНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ', 'ПАВЛОДАРСКАЯ ОБЛАСТЬ',
       'СЕВЕРО-КАЗАХСТАНСКАЯ ОБЛАСТЬ', 'ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ',
       'ТУРКЕСТАНСКАЯ ОБЛАСТЬ', 'ОБЛАСТЬ АБАЙ', 'ОБЛАСТЬ ЖЕТІСУ',
       'ОБЛАСТЬ ҰЛЫТАУ'], dtype=object)

In [193]:
df2 = pd.read_excel('main3.xlsx')

In [194]:
df2

,Unnamed: 0,country,area,sex,age_group,period_name,period_date,value
0,49,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Моложе трудоспособного населения,2017 год,31.12.2017,44574
1,50,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Женский,Моложе трудоспособного населения,2017 год,31.12.2017,41789
2,52,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Мужской,Моложе трудоспособного населения,2017 год,31.12.2017,48108
3,53,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Моложе трудоспособного населения,2017 год,31.12.2017,45967
4,58,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Трудоспособное население,2017 год,31.12.2017,105816
...,...,...,...,...,...,...,...,...
5125,194341,РАЙОН АЛМАТЫ,городская местность,Мужской,Старше трудоспособного населения,2015 год,31.12.2015,6938
5126,194346,РАЙОН АЛМАТЫ,городская местность,Женский,Трудоспособное население,2015 год,31.12.2015,132481
5127,194347,РАЙОН АЛМАТЫ,городская местность,Мужской,Трудоспособное население,2015 год,31.12.2015,124214
5128,194352,РАЙОН АЛМАТЫ,городская местность,Женский,Моложе трудоспособного населения,2015 год,31.12.2015,48064
5129,194353,РАЙОН АЛМАТЫ,городская местность,Мужской,Моложе трудоспособного населения,2015 год,31.12.2015,50855

In [195]:
df2['country'].unique()

array(['АКМОЛИНСКАЯ ОБЛАСТЬ', 'АКТЮБИНСКАЯ ОБЛАСТЬ',
       'АЛМАТИНСКАЯ ОБЛАСТЬ', 'АТЫРАУСКАЯ ОБЛАСТЬ',
       'ЗАПАДНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ', 'ЖАМБЫЛСКАЯ ОБЛАСТЬ',
       'КАРАГАНДИНСКАЯ ОБЛАСТЬ', 'КОСТАНАЙСКАЯ ОБЛАСТЬ',
       'КЫЗЫЛОРДИНСКАЯ ОБЛАСТЬ', 'МАНГИСТАУСКАЯ ОБЛАСТЬ',
       'ЮЖНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ', 'ПАВЛОДАРСКАЯ ОБЛАСТЬ',
       'СЕВЕРО-КАЗАХСТАНСКАЯ ОБЛАСТЬ', 'ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ',
       'Г.АСТАНА', 'Г.АЛМАТЫ', 'АКТОБЕ Г.А.', 'РАЙОН АЛМАТЫ',
       'ТУРКЕСТАНСКАЯ ОБЛАСТЬ', 'Г.ШЫМКЕНТ', 'ОБЛАСТЬ АБАЙ',
       'ОБЛАСТЬ ЖЕТІСУ', 'ОБЛАСТЬ ҰЛЫТАУ'], dtype=object)

In [196]:
df4 = pd.read_excel('main3.xlsx')

In [197]:
df4

,Unnamed: 0,country,area,sex,age_group,period_name,period_date,value
0,49,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Моложе трудоспособного населения,2017 год,31.12.2017,44574
1,50,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Женский,Моложе трудоспособного населения,2017 год,31.12.2017,41789
2,52,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Мужской,Моложе трудоспособного населения,2017 год,31.12.2017,48108
3,53,АКМОЛИНСКАЯ ОБЛАСТЬ,сельская местность,Женский,Моложе трудоспособного населения,2017 год,31.12.2017,45967
4,58,АКМОЛИНСКАЯ ОБЛАСТЬ,городская местность,Мужской,Трудоспособное население,2017 год,31.12.2017,105816
...,...,...,...,...,...,...,...,...
5125,194341,РАЙОН АЛМАТЫ,городская местность,Мужской,Старше трудоспособного населения,2015 год,31.12.2015,6938
5126,194346,РАЙОН АЛМАТЫ,городская местность,Женский,Трудоспособное население,2015 год,31.12.2015,132481
5127,194347,РАЙОН АЛМАТЫ,городская местность,Мужской,Трудоспособное население,2015 год,31.12.2015,124214
5128,194352,РАЙОН АЛМАТЫ,городская местность,Женский,Моложе трудоспособного населения,2015 год,31.12.2015,48064
5129,194353,РАЙОН АЛМАТЫ,городская местность,Мужской,Моложе трудоспособного населения,2015 год,31.12.2015,50855

In [199]:
df4['country'].unique()

array(['АКМОЛИНСКАЯ ОБЛАСТЬ', 'АКТЮБИНСКАЯ ОБЛАСТЬ',
       'АЛМАТИНСКАЯ ОБЛАСТЬ', 'АТЫРАУСКАЯ ОБЛАСТЬ',
       'ЗАПАДНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ', 'ЖАМБЫЛСКАЯ ОБЛАСТЬ',
       'КАРАГАНДИНСКАЯ ОБЛАСТЬ', 'КОСТАНАЙСКАЯ ОБЛАСТЬ',
       'КЫЗЫЛОРДИНСКАЯ ОБЛАСТЬ', 'МАНГИСТАУСКАЯ ОБЛАСТЬ',
       'ЮЖНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ', 'ПАВЛОДАРСКАЯ ОБЛАСТЬ',
       'СЕВЕРО-КАЗАХСТАНСКАЯ ОБЛАСТЬ', 'ВОСТОЧНО-КАЗАХСТАНСКАЯ ОБЛАСТЬ',
       'Г.АСТАНА', 'Г.АЛМАТЫ', 'АКТОБЕ Г.А.', 'РАЙОН АЛМАТЫ',
       'ТУРКЕСТАНСКАЯ ОБЛАСТЬ', 'Г.ШЫМКЕНТ', 'ОБЛАСТЬ АБАЙ',
       'ОБЛАСТЬ ЖЕТІСУ', 'ОБЛАСТЬ ҰЛЫТАУ'], dtype=object)